---
layout: default
title: "개발 블로그"
pagination:
  enabled: true
---

<ul class="article-list">
  {% for post in paginator.posts %}
    <li class="article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          {% include svg-icon.html icon="arrow-right" %}
        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}  
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      {% include article/info-footer.html post=post %}
    </li>
  {% endfor %}
  {% include pagination.html %}
</ul>
